#main-nav {
    position: fixed;
    top: 0;
    height: $nav-height;
    background: darken(white, 1%);
    color: $color-black;
    border: none;
    border-bottom: 1px solid gainsboro;
    z-index: 10;

    .item {
        height: 100%;
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
        margin-left: 0.5em;
        margin-right: 0.5em;
        color: $color-black;

        &.active {
            background-color: transparent;
        }

        &:hover {
            color: lighten($color-black, 50%);
        }
    }

    a {
        color: $color-black;
        font-size: 1.2em;
    }

    .nav-version {
        font-size: 0.7em;
        color: dimgray;
        opacity: 1;
        margin: 0.5em;
    }

    &.menu-home {
        background: linear-gradient(to left, $color-purple, darken($color-purple, 5%));
        border-bottom: none;

        .item, a {
            color: lighten($color-white, 5%);
        }

        .item:hover {
            color: darken($color-white, 5%);
        }

        .nav-version {
            color: ghostwhite;
            opacity: 0.5;
        }
    }
}


