{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"rules": {
		"object-curly-newline": 0,
		"function-paren-newline": 0,
		"space-before-function-paren": 0,
		"arrow-body-style": 1,
		"implicit-arrow-linebreak": 1,
		"jsx-a11y/label-has-for": 1,
		"react/jsx-one-expression-per-line": 0,
		"func-names": ["error", "never"],
		"no-tabs": 0,
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"arrow-parens": 0,
		"no-underscore-dangle": 0,
		"no-unused-vars": 1,
		"semi": 0,
		"comma-dangle": 1,
		"max-len": 1,
		"import/newline-after-import": 0,
		"no-param-reassign": 1,
		"one-var": 1,
		"global-require": 0,
		"no-undef": 1,
		"consistent-return": 1,
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/no-unused-state": 1,
		"react/jsx-wrap-multilines": 1,
		"jsx-a11y/anchor-is-valid": [
			"error",
			{
				"components": ["Link"],
				"specialLink": ["to"]
			}
		],
		"import/prefer-default-export": 1,
		"import/first": 1
	},
	"env": {
		"browser": true,
		"node": true,
		"jest": true
	}
}
