@import 'shared/reset';
@import 'shared/variables';
@import 'shared/typography';
@import 'components/nav';
@import 'pages/home';

body {
	margin-top: $navHeightSmaller;
	min-height: 80vh;
}

.container {
	padding-top: 2em;
}

/* temp modals fix */
.ui.page.modals.transition.visible {
	padding-top: 25% !important;
	display: flex !important;
}

.padded-button {
	margin-top: 1.5em !important;
	margin-bottom: 1.5em !important;
}

.message {
	position: fixed !important;
	margin: 2em !important;
	top: $navHeight !important;
	right: 0 !important;
	width: 500px !important;
	z-index: 100 !important;
	text-align: center !important;
}

.column-header {
	transform: rotate(-90deg) translateY(45%) translateX(-500%);
	white-space: nowrap;
	width: 1em;
	height: 10em;
}

.ui.card {
	min-height: 9em;
}