.container {
	padding-top: 50px;
}

.container-wide {
	width: 80%;
	margin: 0 auto;
}

.active-link {
	border-bottom: 1px solid black;
	color: black;
}

.menu a {
	color: #333 !important;
}

/* temp modals fix */
.ui.page.modals.transition.visible {
	padding-top: 10% !important;
	display: flex !important;
}

.padded-button {
	margin-top: 1.5em !important;
	margin-bottom: 1.5em !important;
}

.message {
	position: fixed !important;
	margin-bottom: 2em !important;
	bottom: 0 !important;
	width: 500px !important;
	z-index: 100 !important;
	text-align: center !important;
}

.column-header {
	transform: rotate(-90deg) translateY(45%) translateX(-500%);
	white-space: nowrap;
	width: 15px;
	height: 150px;
}
